.App {
  text-align: center;
}
.Appbar{
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
 color: black;
}
.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search{
  border: 1px;
}









